{% set eLab = salt['grains.filter_by']({
    'default': {
        'pkgs': ['apache2', 'git', 'vim', 'curl', 'tmux', 'sendmail', 'php5', 'php5-curl', 'php5-mysql', 'php5-dev', 'php-pear', 'phpunit', 'python-pip', 'python-dev'],
        'nginx_user': 'www-data',
        'nginx_group': 'www-data',
        'server_name': None,
        'stable': False,
        'mysql': {
            'server': {
                'host': '127.0.0.1',
                'port': '3306',
                'name': 'api_db',
                'root_username': 'root',
                'root_password': 'testpass'
            }
        },
        'mongo': {
            'server': {
                'host': '127.0.0.1',
                'port': '27017',
                'db': 'admin',
                'username': 'admin',
                'password': 'admin'
            }
        }
        'api': {
            'user': 'webportal', 'password': 'testpass'
        }
    },
}, merge=salt['pillar.get']('eLab')) %}
